
.container-flex {
    display: flex;
    margin: 20px auto;
}

#goods-info-container {
    flex: 0 0 60%;
}

#goods-container {
    padding: 20px;
}


.image-container {
    margin-right: 20px;
    width: 400px;
}

#goodsTitle {
    margin-bottom: 20px;
}

#main-image {
    width: 250px;
    height: auto;
    border-radius: 15px;
}

.goods-info > table {
    border: none;
    font-size: 15px;
    font-weight: 500;
}

#post-image-div {
    flex: 0 0 20%;
}


.goods-info > table > tbody > tr > .col-title {
    width: 90px;
    height: 50px;

}

#grades-container > .btn {
    background-color: #D1C2E9;
    color: white;
}

#grades-container > #grades-list > #grades-table > tr > td:first-child {
    width: 80px;
    color: darkgray;
}

#schedule-container {
    flex: 0 0 40%;
    background-color: #ffffff;
    min-width: 150px;
}

#images-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.images-title {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
    border-bottom: 0.1rem solid #b6bdc7;
}

.images-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.images-list img {
    width: 600px;
    height: auto;
    /*border: 1px solid #ddd;*/
}

.images-title {
    border-bottom: 0.1rem solid black;
}

#book-btn {
    background-color: #D1C2E9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 200px;
}

#book-btn:hover {
    background-color: #D1C2E9;
}

/* FullCalendar 스타일링 */
#calendar {
    width: 100%;
}

#calendar-container {
    width: 100%; /* 캘린더의 너비를 조정 */
}

.fc-header-toolbar {
    margin-bottom: 10px;
}

.fc-header-toolbar > .fc-left > .fc-button {
    background-color: #A9BCD0 !important;
}

.fc-button {
    background-color: #A9BCD0 !important;
    color: white;
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50px;
}

.fc {
    width: 100%; /* FullCalendar의 너비를 조정 */
}

#schedule-details {
    margin-top: 20px;
    padding: 20px;

    border: 2px solid #A593E0;
    border-radius: 20px;
}

.fc-time {
    visibility: hidden;
}

.fc-day-grid-event {
    background-color: #A593E0;
    border: 1px solid #A593E0;
}