/*body {*/
/*    font-family: Arial, sans-serif;*/
/*}*/

.container {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#submitGoodsInfoButton {
    border: none;
    background-color: #FADAD8;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

#submitGoodsInfoButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#goodsPage {
    background-color: #A593E0;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    float: right;
}

