body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#submitButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

#submitButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#goodsPage {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    float: right;
}
