.list-group > .active {
    color: white !important;
    background-color: black !important;
    border-color: black;
}

.logo {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 15px;
}

.page-name {
    margin-bottom: 20px;
}


.form-control {
    margin-top: 10px;
}

input {
    height: 50px;
}

.custom-btn {
    height: 50px;
}

.table-d2-list {
    margin-top: 10px;
    border-top: 1px solid black;
}

table {
    width: 100%;
    border-top: 1px solid #dddddd;
    border-collapse: collapse;
}

thead {
    font-size: 20px;
}

th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}

.pagination {
    padding: 20px 0;
    text-align: center;
}

.pagination > a {
    text-decoration: none;
    vertical-align: middle;
    padding: 0 10px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
}

.now {
    color: #333333;
    font-weight: 900;
}