.list-group > .active {
    color: white !important;
    background-color: black !important;
    border-color: black;
}

.logo {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 15px;
}

.page-name {
    margin-bottom: 20px;
}


.form-control {
    margin-top: 10px;
}

input {
    height: 50px;
}

.custom-btn {
    height: 50px;
}
