.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap {
    height: 80%;
    padding-top: 20px;
    margin-top: 50px;
}

.form-check-label {
    font-size: 20px;
    padding-bottom: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    margin-right: 10px;
}
