/* 전체 페이지에 대한 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* 컨테이너 스타일 */
.container {
    max-width: 800px; /* 적절한 최대 너비 설정 */
    margin: 20px auto; /* 중앙 정렬 */
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 라벨과 인풋 필드 스타일 */
label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Border and padding should be included in width */
}

/* 테이블 스타일 */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
}

/* 버튼 스타일 */
button {
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c;
}

/* 구역 제거 버튼 스타일 */
.remove-zone {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
}

.remove-zone:hover {
    background-color: #c9302c;
}

/* 다음 페이지 버튼 스타일 */
#goodsInfoPageButton {
    float: right;
    padding: 10px 15px;
    background-color: #337ab7; /* Bootstrap primary blue */
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#goodsInfoPageButton:hover {
    background-color: #286090;
}

.section {
    margin-bottom: 20px; /* 섹션 간 간격을 주기 위해 margin-bottom 추가 */
}

.zones-section {
    background-color: #f8f8f8; /* 구역명 입력 섹션 배경색 변경 */
    padding: 10px; /* 패딩 추가 */
    border-radius: 4px; /* 모서리 둥글게 */
}
