.container {
    align-items: center;
    display: flex;
    min-height: 70vh;
    width: 100%;
}

.form-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-control {
    margin-top: 10px;
}

input {
    height: 50px;
}

.input-group-text {
    height: 50px;
    margin-top: 10px;
}

.custom-btn {
    height: 50px;
}

.logo {
    width: 16px;
    height: 16px;
    margin-bottom: 5px;
    margin-right: 10px;
}
