.container {
    /*align-items: center;*/
    /*display: flex;*/
    /*min-height: 70vh;*/
    /*width: 100%;*/
}

.container > .signup-form {
    width: 70%;

}

.form-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-control {
    margin-top: 10px;
}


.input-group-text {
    margin-top: 10px;
}


.logo {
    width: 16px;
    height: 16px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.user-input-div > .user-input-btn {
    background-color: #D1C2E9;
    color: white;
    cursor: pointer;
}

.user-input-div-2 > .user-input-btn-2 {
    background-color: #A9BCD0;
    color: white;
    cursor: pointer;
}
